body {
    color: #666666;
    font-family:Verdana, sans-serif;
    font-size: 12px;
    margin: 10px; 
}
h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    padding: 10px 0px;

}

div.panel {
    border: solid 1px #dddddd;
    background-color: #f1f1f1;
    width: 600px;
    padding: 20px;
    padding-top: 20px; 
}

label {
    font-weight: bold;
}

td.right {
    text-align:right;
}

table.dataTable {
    
}

table.dataTable td {
    padding-right: 15px;
    vertical-align: top; 
}